<mat-toolbar color="primary">  
  <mat-toolbar-row>
    <span>BenchMark Family Service</span>

    <!-- This fills the remaining space of the current row -->
    <span class="example-fill-remaining-space"></span>

    <button mat-button (click)=settings();>
      <mat-icon aria-hidden="false" aria-label="settings">settings</mat-icon>
    </button>
  </mat-toolbar-row>

  <!-- <mat-toolbar-row>
    <span>Therapeutic Foster Care</span>
  </mat-toolbar-row> -->
</mat-toolbar>
<router-outlet></router-outlet>