<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="side" position="end" [(opened)]="opened">
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <h3>Options</h3>
      </mat-toolbar-row>
    </mat-toolbar>

    <mat-grid-list cols="1" rows="4">
      <mat-grid-tile [colspan]="1">
        <button mat-raised-button color="accent" style="height: 100%; width: 100%;"
          (click)="goToRegisterPage()">Register</button>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="1">
        <button mat-raised-button style="height: 100%; width: 100%;"
          (click)="dataService.logOut();" color="accent">LogOut</button>
      </mat-grid-tile>
    </mat-grid-list>
    <!-- <button mat-raised-button color="accent" style="margin-right: 10px; margin-left: 10px; margin-top: 10px;"
      (click)="goToRegisterPage()">Register</button>
    <br>
    <button mat-raised-button style="margin-right: 10px; margin-left: 10px; margin-top: 10px;" color="accent"
      (click)="dataService.logOut();">LogOut</button> -->
  </mat-sidenav>

  <mat-sidenav-content>
    <!-- ToolBar -->
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <button mat-button (click)=goBack();>
          <mat-icon aria-hidden="false" aria-label="keyboard_backspace">keyboard_backspace</mat-icon>
        </button>

        <span class="fill-remaining-space"></span>

        <button mat-button>
          <mat-icon aria-hidden="false" (click)="sidenav.toggle()" aria-label="settings">settings</mat-icon>
        </button>
      </mat-toolbar-row>
    </mat-toolbar>

    <br>

    <div>
      <label for="Months">Month:</label>
      <select (change)="onChange($event.target.value)">
        <option value=0></option>
        <option value=1>January</option>
        <option value=2>February</option>
        <option value=3>March</option>
        <option value="4">April</option>
        <option value="5">May</option>
        <option value=6>June</option>
        <option value=7>July</option>
        <option value=8>August</option>
        <option value=9>September</option>
        <option value=10>October</option>
        <option value=11>November</option>
        <option value=12>December</option>
      </select>
    </div>
    <div id="chartContainer" style="height: 370px; width: 100%;"></div>
  </mat-sidenav-content>
</mat-sidenav-container>
