<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="side" position="end" [(opened)]="opened">
    <button mat-raised-button style="margin-right: 10px; margin-left: 10px;" color="primary" routerLink="/login">LogOut</button>
  </mat-sidenav>

  <mat-sidenav-content>
    <!-- ToolBar -->
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <button mat-button (click)="navigate()">BenchMark Family Service</button>

        <span class="fill-remaining-space"></span>

        <!-- <button mat-button style="margin-right: 1em;" routerLink="/display">Map</button>
        <button mat-button style="margin-right: 1em;" routerLink="/stat">Statistics</button>
        <button mat-button style="margin-right: 1em;" routerLink="/on-boarding">On-Boarding</button> -->

        <button mat-button>
          <mat-icon aria-hidden="false" (click)="sidenav.toggle()" aria-label="settings">settings</mat-icon>
        </button>

      </mat-toolbar-row>
    </mat-toolbar>

    <mat-grid-list cols="4" rows="10" rowHeight="10%" style="background-color: rgb(241, 239, 239);">
      <mat-grid-tile [colspan]="3" [rowspan]="10">
        <iframe id="myFrame" width="100%" height="100%" frameBorder="5" style="border-color: rgb(0, 19, 128);" [src]="urlSafe"></iframe>
      </mat-grid-tile>
    
      <mat-grid-tile *ngIf="mobileDevice === false" [colspan]="1" [rowspan]="2">
        <img src="../../../assets/Benchmark-Family-Services.jpg"/>
      </mat-grid-tile>
    
      <mat-grid-tile [colspan]="1">
        <button mat-raised-button color="primary" style="height: 100%; width: 100%;" routerLink="/display">Map</button>
      </mat-grid-tile>
    
      <mat-grid-tile [colspan]="1">
        <button mat-raised-button color="primary" style="height: 100%; width: 100%;" routerLink="/stat">Statistics</button>
      </mat-grid-tile>
    
      <mat-grid-tile [colspan]="1">
        <button mat-raised-button color="primary" style="height: 100%; width: 100%;" routerLink="/on-boarding">On-Boarding</button>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-sidenav-content>
</mat-sidenav-container>
<router-outlet></router-outlet>
