<div class="container2">
  <div class="project-title" >  <p font-size="100px">BenchMark Family Services</p></div>
  
</div>
<div class="container">
  <div class="items">
    <div class="icon-wrapper">
      <img src="/client/ui/src/assets/display.png" alt="">
    </div>
    <div class="project-name">
      <p>Display</p>
    </div>
  </div>
  <div class="items">
    <div class="icon-wrapper">
      <img src="/client/ui/src/assets/stats.png" alt="">
    </div>
    <div class="project-name">
      <p>Statistics</p>
    </div>
  </div>
  <div class="items">
    <div class="icon-wrapper">
      <img src="/client/ui/src/assets/On.png" alt="">
    </div>
   
    <div class="project-name" >
     
      <p>On Boarding</p>
    </div>
  </div>  
</div>