
<mat-card class="image">
  <img width="500px" src="../../../assets/Benchmark-Family-Services.jpg"/>
</mat-card>

<div class="container">
  <mat-card class="card">
    <div class="icon-wrapper">
    <img height="150px" width="150px" src="../../../assets/pin.png" alt="">
    </div>
    <div class="project-name">
      <button class="buttons" mat-button  routerLink="/display">Display</button>
    </div>
  </mat-card>
  <mat-card class="card">
    <div class="icon-wrapper">
      <img height="150px" width="150px" src="../../../assets/stats.png" alt="">
    </div>
    <div class="project-name">
      <button class="buttons" mat-button routerLink="/stat">Statistics</button>
    </div>
  </mat-card>
  <mat-card class="card">
    <div class="icon-wrapper">
      <img height="150px" width="150px" src="../../../assets/onbord.webp" alt="">
    </div>
   
    <div class="project-name" >
     
      <button class="buttons" mat-button routerLink="/on-boarding">On-Boarding</button>
    </div>
  </mat-card>  
  <mat-card class="card">
    <div class="icon-wrapper">
    <img height="150px" width="150px" src="../../../assets/on.png" alt="">
    </div>
    <div class="project-name">
      <button class="buttons" mat-button  routerLink="/login">Login</button>
    </div>
  </mat-card>


</div>
<!-- ToolBar -->
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-button (click)="navigate()">BenchMark Family Service</button>

    <span class="fill-remaining-space"></span>

    <button mat-button style="margin-right: 1em;" routerLink="/display">Display</button>
    <button mat-button style="margin-right: 1em;" routerLink="/stat">Statistics</button>
    <button mat-button style="margin-right: 1em;" routerLink="/on-boarding">On-Boarding</button>
    <button mat-button style="margin-right: 1em;" routerLink="/login">Login</button>

    <button mat-button>
      <mat-icon aria-hidden="false" aria-label="settings">settings</mat-icon>
    </button>

  </mat-toolbar-row>
</mat-toolbar>

<div class="backg">
  <img class="backg"src="../../../assets/kids.png" />

</div>


<router-outlet></router-outlet>
